body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f7ff;
  text-align: center;
}

/* HEADER */
header {
  background-color: #0b5ed7;
  color: white;
  padding: 25px;
}

/* NAVBAR */
nav {
  background-color: #084298;
  padding: 12px;
}

nav a {
  color: white;
  margin: 12px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ffeb3b;
}

/* SECTIONS */
section {
  padding: 30px;
}

/* PRODUCTS */
.product {
  background-color: white;
  padding: 20px;
  margin: 15px;
  display: inline-block;
  width: 220px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* BUTTONS */
button {
  background-color: #0b5ed7;
  color: white;
  border: none;
  padding: 10px 18px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background-color: #084298;
}

/* CART LIST */
ul {
  list-style: none;
  padding: 0;
  font-size: 18px;
}

li {
  background-color: white;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* FOOTER */
footer {
  background-color: #0b5ed7;
  color: white;
  padding: 15px;
  margin-top: 20px;
}